For this check, I'll be using the Agify.io API, which predicts the age of a person given their first name.

The ten names I'm using in top_names were reported as the ten most popular names from 1922-2021 by the SSA.

In [30]:
import pandas as pd
import requests

top_names = {"Name": ["james", "robert", "john", "michael", "david", "william", "mary", "richard", "joseph", "thomas"]}

df = pd.DataFrame(top_names)
print(df)

      Name
0    james
1   robert
2     john
3  michael
4    david
5  william
6     mary
7  richard
8   joseph
9   thomas

> Pull in data from an API. Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/

In [49]:
r = requests.get("https://api.agify.io?name[]=James&name[]=Robert&name[]=John&name[]=Michael&name[]=David&name[]=William&name[]=Mary&name[]=Richard&name[]=Joseph&name[]=Thomas&&country_id=US")

j = r.json()

df2 = pd.DataFrame.from_dict(j)

df2

   age   count country_id     name
0   63   60928         US    James
1   66   65378         US   Robert
2   65   96469         US     John
3   54  108496         US  Michael
4   59   92219         US    David
5   65   36509         US  William
6   70   30921         US     Mary
7   69   38743         US  Richard
8   57   33546         US   Joseph
9   61   29081         US   Thomas

> Find and print TWO descriptive statistics about your data. This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

In [50]:
m = df2["age"].mean()
mean_age = str(m)

s = df2["count"].sum()
sum = str(s)

print("The mean age of people with the ten most popular names in the US is " + mean_age + ".")
print("The total number of people with the ten most popular names in the US is " + sum + ".")

The mean age of people with the ten most popular names in the US is 62.9.
The total number of people with the ten most popular names in the US is 592290.

> Write a query in Pandas to select a particular set of your data. You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

For this, I was curious which names had the youngest mean age:

In [51]:
df2.query("age < 60")

   age   count country_id     name
3   54  108496         US  Michael
4   59   92219         US    David
8   57   33546         US   Joseph

> Select and print the SECOND AND THIRD columns of your data frame.

In [58]:
print(df2.iloc[:, [1,2]])

    count country_id
0   60928         US
1   65378         US
2   96469         US
3  108496         US
4   92219         US
5   36509         US
6   30921         US
7   38743         US
8   33546         US
9   29081         US

> Select and print the FIRST 4 rows of your data frame.

In [60]:
print(df2.loc[0:3])

   age   count country_id     name
0   63   60928         US    James
1   66   65378         US   Robert
2   65   96469         US     John
3   54  108496         US  Michael